<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <h3 class="text-center">お問い合わせ（ご意見・ご感想）</h3>
      <%= form_with model: @contact, url: contacts_path, method: :post do |f| %>
      <%= render 'layouts/errors', obj: @contact %>
        <div class="form-group">
          <%= f.label :name, "お名前" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :subject, "件名" %>
          <%= f.text_field :subject, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :content, "内容" %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        <div class="action text-center">
          <%= f.submit "送信", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>