<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <div class="d-flex align-items-center">
        <%= link_to user_path(@post.user) do %>
          <%= image_tag @post.user.get_profile_image(150, 150), class: 'rounded-circle mr-3' %>
        <% end %>
        <%= link_to @post.user.name, user_path(@post.user), class: 'h4 mr-1' %>
        <% if @post.user.is_license == true %>
          <i class="fa-solid fa-award text-warning"></i>
        <% end %>
      </div>
      <div class="row m-3">
        <p class="h3"><%= @post.title %></p>
        <% if @post.user.id == current_user.id %>
          <div class="three-point h3 ml-auto"><i class="fa-solid fa-ellipsis-vertical"></i></div>
          <div class="border three-point-content is-active">
            <%= link_to "編集する", edit_post_path(@post), class: 'btn btn-default border-bottom' %><br>
            <%= link_to "削除する", delete_post_path(@post), method: :patch, class: 'btn btn-default', data: {confirm: "削除してもよろしいですか？"} %>
          </div>
        <% else %>
          <div class="three-points h3 ml-auto"><i class="fa-solid fa-ellipsis-vertical"></i></div>
          <%= link_to "報告する", new_report_path, class: 'btn btn-danger' %>
        <% end %>
      </div>
      <%= simple_format(h(@post.text)) %>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image.variant(resize: '920x300') %>
        <% end %>
      <% end %>
      <div class="tag">
        <i class="fa-solid fa-tag"></i>
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, result_path(tag_id: tag.id) %>
        <% end %>
      </div>
      <p class="text-right">
        <%= l @post.created_at %>
        <% if @post.status == "edited" %>
          <%= @post.status_i18n %>
        <% end %>
      </p>
      <div class="d-flex justify-content-around">
        <i class="fa-solid fa-eye"><%= @post.view_counts.count %></i>
        <div class="favorite<%= @post.id %>">
          <%= render 'public/favorites/favorite', put: @post %>
        </div>
        <div class="star<%= @post.id %>">
          <%= render 'public/stars/star', put: @post %>
        </div>
        <div class="comment_count">
          <%= render 'public/post_comments/comment_count', pos: @post %>
        </div>
      </div>
      <!--コメント機能-->
      <div class="post_comments my-5">
        <%= render 'public/post_comments/comment', pos: @post, action: @acction %>
      </div>
      <%= form_with model: [@post, @post_comment], method: :post, local: false do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, class: 'col-10' %>
          <%= button_tag type: "submit", class: 'btn btn-default' do %>
            <i class="fa-regular fa-paper-plane"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(document).on('turbolinks:load', function(){
    $('.three-point').on('click', function(event) {
      $('.three-point-content').toggleClass('is-active');
      event.preventDefault();
    });
  });
</script>