<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <div class="rooms">
        <h4 class="text-center">メッセージ</h4>
        <% if @user_rooms.present? %>
          <% @user_rooms.each do |room| %>
            <div class="row align-items-center border-bottom">
              <%= link_to user_path(room.user), class: 'text-decoration-none' do %>
                <%= image_tag room.user.get_profile_image(100, 100), class: 'rounded-circle' %>
                <%= room.user.name %>
              <% end %>
              <% if room.user.is_license == true %>
                <i class="fa-solid fa-award text-warning"></i>
              <% end %>
              <% unless Chat.find_by(id: room.room.chat_ids).present? %>
                <div class="ml-auto">
                  <%= link_to "チャット", chat_path(room.user) %>
                </div>
              <% else %>
                <div class="ml-auto">
                  <%= link_to chat_path(room.user), class: 'text-decoration-none' do %>
                    <%= Chat.find_by(id: room.room.chat_ids.last).message %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>メッセージはありません</p>
        <% end %>
        <div class="button h1">
          <%= link_to "", lists_rooms_path, class: 'fa-solid fa-circle-plus text-decoration-none' %>
        </div>
      </div>
    </div>
  </div>
</div>