<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10">
      <%= link_to user_path(pos.user) do %>
        <%= @user.get_profile_image(100, 100), class: 'rounded-circle' %>
      <% end %>
      <%= @user.name %>
      <div class="message">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <p class="text-end"><%= chat.message %></p>
          <% else %>
            <p class="text-start"><%= chat.message %></p>
          <% end %>
        <% end %>
      </div>
      <%= render 'layouts/errors', obj: @chat %>
      <%= form_with model: @chat, url: chats_path, method: :post |f| %>
        <%= f.text_area :message %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "", class: 'fa-regular fa-paper-plane' %>
      <% end %>
    </div>
  </div>
</div>