<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <div class="d-flex">
        <h3>投稿詳細</h3>
        <%= link_to "削除する", admin_post_path(@post), method: :delete, class: 'btn btn-danger ml-auto', data: {confirm: "削除してもよろしいですか？" } %>
      </div>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image.variant(resize: '375x667') %>
        <% end %>
      <% end %>
      <div class="row">
        <p class="col-4">ユーザー名</p>
        <%= link_to @post.user.name, admin_user_path(@post.user) %>
      </div>
      <div class="row">
        <p class="col-4">タイトル</p>
        <%= @post.title %>
      </div>
      <div class="row">
        <p class="col-4">ステータス</p>
        <p class="text-danger"><%= @post.status_i18n %></p>
      </div>
      <div class="row">
        <p class="col-4">テキスト</p>
        <%= simple_format(h(@post.text)) %>
      </div>
      <div class="row">
        <p class="col-4">タグ</p>
        <% @post.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
      <div class="row">
        <p class="col-4">投稿日時</p>
        <%= l @post.created_at %>
      </div>
      <div class="row">
        <p class="col-4">閲覧数</p>
        <%= @post.view_counts.count %>回
      </div>
      <div class="row">
        <p class="col-4">いいね数</p>
        <i class="fa-regular fa-heart"></i><%= @post.favorites.count %>
      </div>
      <% if @post_comments.present? %>
      <h4>コメント<%= @post_comments.count %>件</h4>
      <table>
        <% @post_comments.each do |post_comment| %>
          <tr>
            <td class="col-3"><%= post_comment.user.name %></td>
            <td class="col-8"><%= post_comment.comment %></td>
            <td class="col"><%= link_to "", admin_post_post_comment_path(@post, post_comment), method: :delete, class: 'fa-solid fa-trash-can', data: {confirm: "削除してもよろしいですか？" } %></td>
          </tr>
        <% end %>
      </table>
      <% else %>
        <p class="col-4">コメントはありません</p>
      <% end %>
    </div>
  </div>
</div>
