<% pos.post_comments.each do |post_comment| %>
  <% if post_comment.user == current_user %>
    <div class="row justify-content-end">
      <div class="ballon-right">
        <%= simple_format(h(post_comment.comment)) %>
        <p class="text-right">
          <small>
            <%= l post_comment.created_at, format: :short %>
            <%= link_to "", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: 'fa-solid fa-trash-can', data: {confirm: "削除してもよろしいですか？" } %>
          </small>
        </p>
      </div>
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(100, 100), class: 'rounded-circle' %>
      <% end %>
      <%= link_to post_comment.user.name, user_path(post_comment.user) %>
      <% if post_comment.user.is_license == true %>
        <i class="fa-solid fa-award text-warning"></i>
      <% end %>
    </div>
  <% else %>
    <div class="row justify-content-start">
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(100, 100), class: 'rounded-circle' %>
      <% end %>
      <%= link_to post_comment.user.name, user_path(post_comment.user) %>
      <% if post_comment.user.is_license == true %>
        <i class="fa-solid fa-award text-warning"></i>
      <% end %>
      <div class="ballon-left">
        <%= simple_format(h(post_comment.comment)) %>
        <p class="text-right"><small><%= l post_comment.created_at, format: :short %></small></p>
        <% post_comment.actions.each do |action| %>
          <%= link_to post_post_comment_action_path(pos, post_comment), method: :delete do %>
            <%= stamp(action) %>
          <% end %>
        <% end %>
        <div class="modal-open text-right"><i class="fa-solid fa-heart-circle-plus"></i></div>
      </div>

      <section id="info" class="is-active">
        <%= render 'public/posts/action', action: action, pos: pos, post_comment: post_comment %>
      </section>
    </div>
  <% end %>
<% end %>

<script>
  $(document).on('turbolinks:load', function(){
    $('.modal-open').on('click', function(event) {
      $('#info').toggleClass('is-active');
      event.preventDefault();
    });
  });
</script>