<% pos.post_comments.each do |post_comment| %>
  <% if post_comment.user == current_user %>
    <div class="row justify-content-end">
      <div class="ballon-right">
        <%= simple_format(h(post_comment.comment)) %>
        <p class="text-right">
          <small>
            <%= l post_comment.created_at, format: :short %>
            <%= link_to "", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: 'fa-solid fa-trash-can', data: {confirm: "削除してもよろしいですか？" } %><br>
          </small>
        </p>
        <% post_comment.actions.each do |action| %>
          <% action %>
          <i class="text-warning fa-regular <%= action.face_type %>"></i>
        <% end %>
      </div>
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(100, 100), class: 'rounded-circle' %>
      <% end %>
      <%= link_to post_comment.user.name, user_path(post_comment.user) %>
      <% if post_comment.user.is_license == true %>
        <i class="fa-solid fa-award text-warning"></i>
      <% end %>
    </div>
  <% else %>
    <div class="row justify-content-start">
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(100, 100), class: 'rounded-circle' %>
      <% end %>
      <%= link_to post_comment.user.name, user_path(post_comment.user) %>
      <% if post_comment.user.is_license == true %>
        <i class="fa-solid fa-award text-warning"></i>
      <% end %>
      <div class="ballon-left">
        <%= simple_format(h(post_comment.comment)) %>
        <p class="text-right"><small><%= l post_comment.created_at, format: :short %></small></p>
        <% post_comment.actions.each do |action| %>
          <% if action.user == current_user %>
            <% action %>
            <%= link_to "", post_post_comment_action_path(pos, post_comment, action), method: :delete, class: "text-warning fa-regular "+action.face_type %>
          <% else %>
            <% action %>
            <i class="text-warning fa-regular <%= action.face_type %>"></i>
          <% end %>
        <% end %>
        <div id="open<%=post_comment.id%>" class="modal-open text-right"><i class="fa-solid fa-heart-circle-plus"></i></div>
      </div>
      <section id="info<%=post_comment.id%>" class="is-active">
        <%= render 'public/posts/action', pos: pos, post_comment: post_comment %>
      </section>
    </div>
    <script>
        $('#open<%=post_comment.id%>').on('click', function(event) {
          $('#info<%=post_comment.id%>').toggleClass('is-active');
          event.preventDefault();
        });
    </script>
  <% end %>
<% end %>

