<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>新規会員登録</h2>
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <div class="form-group row">
          <%= f.label :name, "ユーザー名", class: 'col-4' %>
          <%= f.text_field :name %>
        </div>
        <div class="form-group row">
          <%= f.label :mbti, "MBTI", class: 'col-4' %>
          <div class="col-5">
            <%= f.collection_radio_buttons(:mbti, User.mbtis, :first, :first) do |b| %>
              <%= b.radio_button + "\s" + b.label %>
            <% end %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: 'col-4' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字)</em>
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="form-group row">
          <%= f.label :password_confirmation, "パスワード確認", class: 'col-4' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions text-center">
          <%= f.submit "新規会員登録", class: 'btn btn-success' %>
        </div>
      <% end %>
      ログインは<%= render "public/shared/links" %>から
    </div>
  </div>
</div>

