<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-9">
      <%= render 'searches/form' %>
      <%= render 'public/posts/index', posts: @posts %>
      <% if @posts.count > 10 %>
        <%= paginate @posts %>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-3">
      <h4>タグ</h4>
      <ul class="d-flex flex-row flex-wrap list-group">
        <% @tags.each do |tag| %>
          <li class="list-group-item col-8">
            <i class="fa-solid fa-tag"></i>
            <%= link_to tag.name, result_path(tag_id: tag.id) %>
            <% @tags_posts = tag.posts %>
            (<%= @tags_posts.count { |tags_posts| tags_posts.status != "deleted" } %>)
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
