<%= form_with model: report, url: reports_path do |f| %>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(0) %>
    <%= f.label :reason_spam, Report.reasons_i18n[:spam] %>
  </div>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(1) %>
    <%= f.label :reason_pornography, Report.reasons_i18n[:pornography] %>
  </div>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(2) %>
    <%= f.label :reason_malicious, Report.reasons_i18n[:malicious] %>
  </div>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(3) %>
    <%= f.label :reason_terrorism, Report.reasons_i18n[:terrorism] %>
  </div>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(4) %>
    <%= f.label :reason_harassment, Report.reasons_i18n[:harassment] %>
  </div>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(5) %>
    <%= f.label :reason_harm, Report.reasons_i18n[:harm] %>
  </div>
  <div class="form-group">
    <%= f.radio_button :reason, Report.reasons.key(6) %>
    <%= f.label :reason_misinformation, Report.reasons_i18n[:misinformation] %>
  </div>
  <div class="action">
    <%= f.hidden_field :target_id, value: params[:target_id] %>
    <%= f.hidden_field :target_type, value: params[:target_type] %>
    <%= f.submit "報告", class: 'btn btn-danger' %>
  </div>
<% end %>