<% users.each do |user| %>
  <div class="d-flex">
    <%= link_to user_path(user) do %>
      <%= image_tag user.get_profile_image(100, 100), class: 'rounded-circle' %>
    <% end %>
    <%= link_to user.name, user_path(user), class: 'h3' %>
    <% if user.is_license == true %>
      <i class="fa-solid fa-award text-warning mr-5"></i>
    <% end %>
    <%- if controller_name != 'rooms' %>
      <%= user.mbti %>
      <%= truncate(user.introduction) %>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー解除", user_relationships_path(user), method: :delete, class: 'btn btn-danger h-25' %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(user), method: :post, class: 'btn btn-primary h-25' %>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user.following?(user) && user.following?(current_user) %>
      <%= link_to "",chat_path(user), class: 'fa-solid fa-envelope h4' %>
    <% end %>
  </div>
<% end %>