<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <div class="d-flex align-items-center justify-content-between">
        <%= image_tag @user.get_profile_image(150, 150), class: 'rounded-circle' %>
        <p class="h3"><%= @user.name %></p>
        <% if @user == current_user %>
          <%= link_to "編集", edit_user_path(@user), class: 'btn btn-primary col-3' %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-secondary col-3' %>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー解除", user_relationship_path(@user), method: :delete, class: 'btn btn-danger col-3' %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: 'btn btn-primary col-3' %>
          <% end %>
          <% if current_user.following?(@user) && @user.following?(current_user) %>
            <%= link_to "", chat_path(@user), class: 'fa-solid fa-envelope' %>
          <% end %>
        <% end %>
      </div>
      <p class="m-1">MBTI: <strong><%= @user.mbti %></strong></p>
      <%= simple_format(h(@user.introduction)) %>
      <div class="d-flex">
        <div class="mr-3"><%= link_to @user.followers.count, followings_user_path(@user) %>フォロー中</div>
        <div class="mr-3"><%= link_to @user.followeds.count, followers_user_path(@user) %>フォロワー</div>
        <%= link_to @user.favorites.count, favorites_user_path(@user) %>いいね
      </div>

      <div class="posts m-5">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
      <%= render 'public/posts/post_button' %>
    </div>
  </div>
</div>