<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <%= image_tag @user.get_profile_image(150, 150), class: 'rounded-circle' %>
      <%= @user.name %>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path(@user), class: 'btn btn-primary' %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー解除", user_relationship_path(@user), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: 'btn btn-primary' %>
        <% end %>
        <% if current_user.following?(@user) && @user.following?(current_user) %>
          <%= link_to "", chat_path(@user), class: 'fa-solid fa-envelope' %>
        <% end %>
      <% end %>
      <%= @user.mbti %>
      <%= simple_format(h(@user.introduction)) %>
      <%= link_to @user.followers.count, followings_user_path(@user) %>フォロー中
      <%= link_to @user.followeds.count, followers_user_path(@user) %>フォロワー
      <%= link_to @user.favorites.count, favorites_user_path(@user) %>いいね
      <div class="posts">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
      <%= render 'public/posts/post_button' %>
    </div>
  </div>
</div>